.App {
  border: 5px solid black;
  color: black;
  background-color: white;
  padding: 50px 50px;
  margin: 20px auto;
  max-width: 500px;
  border-radius: 20px;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
