.App {
  color: white;
  background-color: white;
  padding: 50px 40px;
  margin: 20px auto;
  max-width: 500px;
  border-radius: 20px;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  font-family: "Jost", sans-serif;
  font-family: "Work Sans", sans-serif;
  box-shadow: 10px 20px;
}

.svg {
  color: grey;
}
