form {
  text-align: center;
}

.input-bar {
  background: transparent;
  border: none;
  outline: none;
  margin-bottom: 5px;
  border-bottom: 2px solid white;
  text-align: left;
  width: 70%;
  margin-right: 15px;
  color: white;
}

.search-form {
  font-size: 22px;
  color: white;
}

.button-search {
  background: transparent;
  border: none;
  outline: none;
  size: 20px;
  color: white;
}
