ul {
  list-style: none;
  text-align: center;
  padding-inline-start: 0;
}

form {
  text-align: center;
}

.input-bar {
  background: none;
  border: none;
}

.search-form {
  border-bottom: 2px solid black;
}
