ul {
  list-style: none;
  text-align: center;
  padding-inline-start: 0;
}

.data-wrapper {
  margin-top: 20px;
  color: white;
}

li.name {
  font-size: 37px;
  font-weight: 550;
  letter-spacing: 1.5px;
}

li.description {
  font-size: 15px;
  font-style: italic;
  color: grey;
}

li.temp {
  margin-top: 25px;
  font-size: 50px;
}

.col-6 {
  text-align: center;
  margin-top: 40px;
}

.divider-wind {
  border-left: solid 2px grey;
}

.hum-text {
  font-style: italic;
  color: grey;
}
.wind-text {
  font-style: italic;
  color: grey;
}

.hum-title {
  font-weight: 600;
}

.wind-title {
  font-weight: 600;
}

.current-date {
  margin-top: 50px;
  padding-top: 20px;
  text-align: end;
  border-top: 1px solid #393e46;
  font-style: italic;
}
