ul {
  list-style: none;
  text-align: center;
  padding-inline-start: 0;
}

.data-wrapper {
  margin-top: 20px;
  color: white;
}

li.name {
  font-size: 37px;
  font-weight: 550;
}

li.description {
  font-size: 15px;
  font-style: italic;
}

li.temp {
  margin-top: 25px;
  font-size: 35px;
  font-weight: 500;
}

.col-sm-6 {
  margin-top: 20px;
}

.card {
  opacity: 90%;
}

.card-body {
  background-color: #e4e3e3;
  padding: 0.5rem;
  text-align: left;
}

.card-title {
  color: black;
  margin-bottom: 0;
  font-weight: 800;
}

.card-text {
  color: black;
}

.current-date {
  margin-top: 50px;
  padding-top: 20px;
  text-align: right;
  border-top: 1px solid #393e46;
}
